body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.nav-number {
  text-decoration: none;
  margin-right: 20px;
  color: black;
  display: block;
}
.nav-number img {
  width: 20px;
  height: 20px;
}
.banner {
  background-image: url("./img/banner.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.title-banner {
  padding: 60px;
  font-size: 60px;
  color: white;
  font-family: "Anton", sans-serif;
  text-shadow: black 2px 2px 2px;
}
.banner-subtitle {
  padding: 30px;
  font-size: 40px;
  font-family: "Quintessential", cursive;
  text-shadow: white 2px 1px 1px;
}
.banner-text {
  font-size: 20px;
  padding-bottom: 20px;
  color: aliceblue;
  text-shadow: black 2px 2px 2px;
}
.content-banner {
  text-align: center;
  padding-bottom: 80px;
  color: black;
}
.viber {
  position: fixed;
  right: 30px;
  bottom: 50px;
  cursor: pointer;
  text-align: center;
  z-index: 30;
}
.service-title {
  text-align: center;
  margin: 40px 0px;
}
.footer {
  background-color: #1a1515;
  overflow: hidden;
}
.cars{
  display: flex;
  justify-content: center;
}
.cars h3{
  text-shadow: white 1px 0.5px 0.5px;
}
.link-footer {
  padding-right: 15px;
}
.wrraper-clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0px auto;
}
.button-clients {
  margin-top: 20px;
}
.clients-link {
  margin-bottom: 30px;
}
.subtitle-advantage {
  text-align: center;
}
.help-wrraper {
  margin: 15px;
}
.help-quetion {
  font-weight: 700;
}
.help {
  min-height: calc(100vh - 190px);
}
.help-wrraper h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.wrraper-advantage {
  max-width: 80%;
  max-height: auto;
  border: 2px solid grey;
  padding: 30px;
  margin: 0px auto;
}
.advantage {
  margin-bottom: 80px;
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 550px) {
  .banner {
    background-image: url("./img/banner-small.jpg");
    background-size: cover;
  }
  .dropdawn a {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .title-banner {
    padding: 5px;
    font-size: 30px;
    color: #1a1515;
  }
  .banner-subtitle {
    padding: 0px;
    font-size: 20px;
  }
  .content-banner {
    padding-bottom: 20px;
  }
}

@media (max-width: 910px) {
  .banner {
    background-size: cover;
  }
  .title-banner {
    padding: 30px;
    font-size: 40px;
    color: white;
  }
  .banner-subtitle {
    padding: 30px;
    font-size: 30px;
  }
  .content-banner {
    padding-bottom: 40px;
  }
}
